doctype html
html(lang="en")
    head
        title= "Poker Cards"
        link(rel="stylesheet" href=ludo_styles)
        link(rel="stylesheet" href=component_styles)
    body
        each page in pages
            .page.clearfix
                each component in page.components
                    .component
                        - with(component){
                        include _component.jade
                        - }