<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{componentName}}</title>
        <link rel="stylesheet" href="{{ludo_styles}}"/>
        <link rel="stylesheet" href="{{component_styles}}"/>
        <style>
            html,body{
                margin:0;
            }
            body{
                zoom: 3.125;
            }
            .component{
                border:none;
            }
        </style>
    </head>
    <body>
        {{#component}}
            <div class="component">
                {{> _component}}
            </div>
        {{/component}}
    </body>
</html>