doctype html
html(lang="en")
    head
        title= componentName
        link(rel="stylesheet" href=ludo_styles)
        link(rel="stylesheet" href=component_styles)
        style.
            html,body{
                margin:0;
            }
            body{
                zoom: 3.125;
            }
            .component{
                border:none;
            }
    body
        - with(component){
            .component
                include _component.jade
        - }