.page{
    page-break-inside: avoid;
    font-family: "Source Sans Pro", helvetica,sans-serif;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.component{
    float:left;
    width:2.4in;
    height:3.5in;
    border:1px solid black;
    position:relative;
}